h1{
  background: crimson;  
}
body{
    background-image: url("images/Winter.jpg");
}
input{
    background-color: yellowgreen;
}
#em{
    background: yellow;
}
#pw{
    background: violet;
}
.myc{
    background: teal;
  }