<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>feedback</display-name>
	<servlet>
		<servlet-name>StudentLogin</servlet-name>
		<display-name>StudentLogin</display-name>
		<description></description>
		<servlet-class>StudentLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentLog</servlet-name>
		<display-name>StudentLog</display-name>
		<description></description>
		<servlet-class>StudentLog</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Stwo</servlet-name>
		<display-name>Stwo</display-name>
		<description></description>
		<servlet-class>Stwo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Sthree</servlet-name>
		<display-name>Sthree</display-name>
		<description></description>
		<servlet-class>Sthree</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Sfour</servlet-name>
		<display-name>Sfour</display-name>
		<description></description>
		<servlet-class>Sfour</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Fforms</servlet-name>
		<display-name>Fforms</display-name>
		<description></description>
		<servlet-class>Fforms</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Detail</servlet-name>
		<display-name>Detail</display-name>
		<description></description>
		<servlet-class>Detail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Hforms</servlet-name>
		<display-name>Hforms</display-name>
		<description></description>
		<servlet-class>Hforms</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Hdetail</servlet-name>
		<display-name>Hdetail</display-name>
		<description></description>
		<servlet-class>Hdetail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Dforms</servlet-name>
		<display-name>Dforms</display-name>
		<description></description>
		<servlet-class>Dforms</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>abc</servlet-name>
		<display-name>abc</display-name>
		<description></description>
		<servlet-class>abc</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CsForms</servlet-name>
		<display-name>CsForms</display-name>
		<description></description>
		<servlet-class>CsForms</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EcForms</servlet-name>
		<display-name>EcForms</display-name>
		<description></description>
		<servlet-class>EcForms</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Cforms</servlet-name>
		<display-name>Cforms</display-name>
		<description></description>
		<servlet-class>Cforms</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EiForms</servlet-name>
		<display-name>EiForms</display-name>
		<description></description>
		<servlet-class>EiForms</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Mforms</servlet-name>
		<display-name>Mforms</display-name>
		<description></description>
		<servlet-class>Mforms</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ddetail</servlet-name>
		<display-name>Ddetail</display-name>
		<description></description>
		<servlet-class>Ddetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentLogin</servlet-name>
		<url-pattern>/StudentLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentLog</servlet-name>
		<url-pattern>/StudentLog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Stwo</servlet-name>
		<url-pattern>/Stwo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sthree</servlet-name>
		<url-pattern>/Sthree</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sfour</servlet-name>
		<url-pattern>/Sfour</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Fforms</servlet-name>
		<url-pattern>/Fforms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Detail</servlet-name>
		<url-pattern>/Detail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Hforms</servlet-name>
		<url-pattern>/Hforms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Hdetail</servlet-name>
		<url-pattern>/Hdetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Dforms</servlet-name>
		<url-pattern>/Dforms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/abc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CsForms</servlet-name>
		<url-pattern>/CsForms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EcForms</servlet-name>
		<url-pattern>/EcForms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cforms</servlet-name>
		<url-pattern>/Cforms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EiForms</servlet-name>
		<url-pattern>/EiForms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mforms</servlet-name>
		<url-pattern>/Mforms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ddetail</servlet-name>
		<url-pattern>/Ddetail</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
