<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>InsertDetail</servlet-name>
        <servlet-class>service.InsertDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDetail</servlet-name>
        <servlet-class>service.UpdateDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>model</servlet-name>
        <servlet-class>model.first</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modify</servlet-name>
        <servlet-class>service.Modify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletedetails</servlet-name>
        <servlet-class>service.deletedetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updaterecord</servlet-name>
        <servlet-class>updaterecord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertDetail</servlet-name>
        <url-pattern>/InsertDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDetail</servlet-name>
        <url-pattern>/UpdateDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>model</servlet-name>
        <url-pattern>/model</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modify</servlet-name>
        <url-pattern>/Modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletedetails</servlet-name>
        <url-pattern>/deletedetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updaterecord</servlet-name>
        <url-pattern>/updaterecord</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
